/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Default dark mode background */
    color: white;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

/* Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: transparent;
}

/* Logo Styling */
.logo-container {
    margin-right: 20px;
}

.logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

/* Theme Toggle Button */
.theme-toggle button {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
    transition: color 0.3s; /* Smooth transition for color */
}

.theme-toggle button:hover {
    color: #ffcc00; /* Change color when hovered */
}

/* Header Text */
.header-text h1 {
    margin: 0;
    font-size: 32px;
    color: white;
}

.header-text p {
    font-size: 14px;
    color: #b3b3b3;
}

/* Search Bar */
.search-bar {
    padding: 20px;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: #bbb;
}

/* Song List */
.song-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.song-item {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
    background-size: cover;
    background-position: center center;
    height: 250px;
    position: relative;
}

.song-item .song-playing-gif {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}

.song-item:hover {
    background-color: #444;
    transform: scale(1.05);
}

/* Audio Player Section */
.audio-player {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

#current-song {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #181818;
    color: white;
}

body.dark-mode header {
    background-color: #121212;
}

body.dark-mode .song-item {
    background-color: #222;
}

body.dark-mode .song-item:hover {
    background-color: #121212;
}

/* Light Mode Styles */
body.light-mode {
    background-color: #f5f5f5;
    color: #121212;
}

body.light-mode header {
    background-color: #ffffff;
}

body.light-mode .song-item {
    background-color: #ffffff;
    color: #121212;
}

body.light-mode .song-item:hover {
    background-color: #f0f0f0;
}
